<div class="contactContainer">
  <div class="textContainer">
    <p>Av. de San Sebastián, 57, 38005 Santa Cruz de Tenerife, España</p>
    <p>+34 822 10 43 25</p>
    <div class="socialMedia">
      <a href="https://www.instagram.com/sansebastian57/?hl=es" target="_blank">
        <img src="../../../assets/images/instagram.png" alt="instagram"/>
      </a>
      <a href="https://www.facebook.com/sansebastian57" target="_blank">
        <img src="../../../assets/images/facebook.png" alt="facebook"/>
      </a>
    </div>
  </div>
  <iframe style="filter: invert(90%) grayscale(1)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.5301485230502!2d-16.255766524580903!3d28.46357677575748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cc82ba8acc45%3A0xa1aea10cb83109d6!2sSan%20Sebasti%C3%A1n%2057!5e0!3m2!1ses!2sde!4v1702518118530!5m2!1ses!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
