<div class="legalContainer">
  <div class="textBlock">
    <h1>Aviso Legal</h1>
    <p>Bienvenido a sansebastian57.com.</p>
    <p><strong>Propiedad del sitio web:</strong> [Nombre de la Empresa / Propietario]</p>
    <p><strong>Dirección:</strong> Av. de San Sebastián, 57, 38005 Santa Cruz de Tenerife, España</p>
    <p><strong>Correo electrónico de contacto:</strong> <a href="mailto:sansebastian57@gmail.com">sansebastian57@gmail.com</a></p>
    <h2>Términos de Uso:</h2>
    <p>El uso de este sitio web está sujeto a los siguientes términos de uso.</p>
    <ul>
      <li>La información contenida en este sitio web es solo para fines generales y está sujeta a cambios sin previo aviso.</li>
      <li>Ni nosotros ni terceros proporcionamos garantía alguna sobre la exactitud, puntualidad, rendimiento, integridad o idoneidad de la información y los materiales encontrados u ofrecidos en este sitio para cualquier propósito en particular.</li>
    </ul>
    <h2>Limitación de Responsabilidad:</h2>
    <p>Ni nosotros ni ningún tercero ofrecemos garantías sobre la precisión, fiabilidad o idoneidad de la información y materiales encontrados u ofrecidos en este sitio.</p>
    <p>El uso de cualquier información o material en este sitio web queda bajo su propio riesgo, y no nos hacemos responsables.</p>
    <h2>Propiedad Intelectual:</h2>
    <p>Este sitio web contiene material que es propiedad nuestra o licenciado a nosotros.</p>
    <p>Esto incluye, pero no se limita a, el diseño, diseño, apariencia, gráficos y otros contenidos.</p>
    <p>Queda prohibida la reproducción no autorizada de los materiales de este sitio.</p>
    <p>Para consultas o preguntas sobre este aviso legal, por favor contáctenos a través de <a href="mailto:sansebastian57@gmail.com">sansebastian57@gmail.com</a>.</p>
  </div>
  <div class="textBlock">
    <h1>Política de Cookies</h1>
    <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas todas las cookies de acuerdo con nuestra política.</p>

    <h2>¿Qué son las cookies?</h2>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Son ampliamente utilizadas para que los sitios web funcionen de manera eficiente y para proporcionar información a los propietarios del sitio.</p>

    <h2>¿Cómo usamos las cookies?</h2>
    <ul>
      <li>Utilizamos cookies para analizar cómo los usuarios interactúan con nuestro sitio web con el fin de mejorar su funcionalidad y contenido.</li>
      <li>Las cookies también se utilizan para recordar tus preferencias y personalizar tu experiencia.</li>
      <li>Las cookies de terceros pueden estar presentes en nuestro sitio web para proporcionar servicios específicos.</li>
    </ul>

    <h2>Control de cookies:</h2>
    <p>Puedes controlar y/o eliminar las cookies según tu deseo. Para más información, consulta acerca de las opciones de gestión de cookies en tu navegador web.</p>

    <h2>Cambios en la política:</h2>
    <p>Nos reservamos el derecho de modificar esta política de cookies en cualquier momento. Las actualizaciones se publicarán en esta página.</p>

    <p>Si tienes preguntas sobre nuestra política de cookies, no dudes en contactarnos a través de <a href="mailto:sansebastian57@gmail.com">[Correo Electrónico de Contacto]</a>.</p>
  </div>
</div>
