body {
  background: #141414;

  color: #ebedeb!important;

  h1, h2, h3, h4, h5, h6, p {
    color: #ebedeb!important;
    line-height: normal!important;
    line-break: normal!important;
    margin: 0!important;

  }

  a {
    color: #ebedeb!important;
    text-decoration: none!important;
  }

}
